body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: #020008;
	color: white;
}

section {
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.sommaire p {
	color: white;
	text-decoration: none;
	text-align: center;
}

.boxSommaire {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#inactif {
	background: #3a3454;
}

.sommaire {
	transition-duration: 0.5s;
	display: flex;
	justify-content: center;
	background: linear-gradient(135deg, #47319f, #2c00dd);
	width: 241px;
	height: 200px;
	border-radius: 30px;
	margin: 20px;
	font-size: 20px;
	flex-direction: column;
}

.sommaire img {
	width: 50px;
	margin: auto;
}

.sommaire:hover {
	transition-duration: 0.5s;
	transform: scale(1.125);
}