body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  background : #ffffff;
}

#cible {
  position: absolute;
  width: 50px;
}

#aim {
  background : rgb(109, 109, 109);
  border-radius: 30px;
  width:45px;
  padding:3px;
  margin : 0;
  text-align: center;
}