body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;

	color: white;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../Ressources/Images/accueil.jpg");
}

section {
	width: 80%;
	margin: auto;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.sommaire p {
	color: white;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
}

a {
	text-decoration: none;
}

.boxSommaire {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#inactif {
	    background: #000000d1;
    backdrop-filter: blur(21px);
}

.sommaire {
	transition-duration: 0.5s;
	display: flex;
	border : solid 1px black;
	justify-content: center;
	    background: #00000000;
    backdrop-filter: blur(21px);
    width: 315px;
    height: 307px; 
	border-radius: 30px;
	margin: 20px;
	font-size: 20px;
	flex-direction: column;
	justify-content: flex-start;
}

.sommaire img {
	width: 50px;
	margin: auto;
}

.sommaire:hover {
	transition-duration: 0.5s;
	transform: scale(1.125);
}
