body {
	font-family: 'Open Sans', sans-serif;
	background: black;
	transition-duration: 0.5s;
	margin: 0;
	user-select : none; 
}

#lanterne img {
	position: absolute;
  animation : bouge 5s linear infinite;
  z-index: 5;
}

@keyframes bouge { 
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#lanterne {   
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#interrupteur {
	position: absolute;
	border: none;
	background: #00000033;
	bottom: 0px;
	right: 50%;
	padding: 20px;
	border-radius: 20px;
}

#bouton {
	transform: translate(50%,-50%);
	position: absolute;
	top: 30%;
	right: 30%;
	padding: 25px;
	background: #181818;
  border: none;
  border-radius: 20px;
}

.zone {
	text-align: center;
  position: absolute;
  bottom: 10%;
  width: 50%;
  margin: auto;
  transform: translate(50%,-50%);
}

 #cache a {
 	cursor: default;
	text-decoration: none;
	color: black;
 }

 #fake {
 	cursor: pointer;
	text-decoration: underline;
 }

 #aide {
 	bottom: 2px;
 	right: 2px;
	margin: 5px;
 	position: absolute;
 	width: 50px;
 }
