body {
	font-family: 'Open Sans', sans-serif;
	background: #0b000d;
	margin: 0;
	user-select : none; 
}


.aTrouver {
	padding: 75px;
	position: absolute;
	left: 20px;
	top: 20px;
	border-radius: 50px;
}

.rond {
	border-radius: 250px;
	padding: 127px;
	background: purple;
	margin: 50px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  align-content: center;
  flex-wrap: wrap;
}

 #aide {
  bottom: 2px;
  right: 2px;
  margin: 5px;
  position: absolute;
  width: 50px;
 }

#titre {
	position: absolute;
	color: white;
	font-size: 40px;
	transform: translate(-50%, 0%);
	left: 50%;
	background: #4b004b;
  padding: 20px;
  border-radius: 20px;
}

#info {
	background: #4b004b;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  color: white;
  display: none;
  padding: 20px;
  border-radius: 20px;
  width: 342px;
  height: 280px;
}

 #cache {
  cursor: default;
  text-decoration: none;
  color: black;
 }